body {
  background: url("../img/cards.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Roboto Slab', serif;
}

.container {
  background-color: rgba(209, 209, 209, .8);
  color: rgb(71, 42, 42);
  height: 100vh;
}

.jumbotron {
  background-color: rgba(71, 42, 42, .7);
  color: #dddddd;
  padding-bottom: 10px;
}

.contents {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0px;
}

.btn.btn-default {
  color: rgb(71, 42, 42);
  border-color: rgb(71, 42, 42);
  background-color: rgb(209, 209, 209);
  margin: 0px 3px;
  width: 125px;
}

.btn:hover {
  cursor: pointer;
}

.btn-default:hover {
  background-color: rgb(178, 178, 178);
}

.jumbotron a {
  color: #828282;
}

#cards {
  display: none;
}

.hide {
  display: none;
}

.drawn-hand {
  display: none;
}

/*WAR PAGE*/
.war-y {
  font-family: 'Permanent Marker', cursive;
}

h1.war-y {
  font-size: 50px;
}

.btn.war-y {
  font-size: 20px;
}

.col-md-4 {
  text-align: center;
}

.col-md-4 h4 {
  margin-bottom: 17px;
}
